$colors: (
	"blue-electric": #1f53c5,
	"dark-blue": #24303c,
	"very-dark-blue": rgb(5, 2, 49),
	"light-grayish": hsl(223, 64%, 98%),
	"orange": #ee6b2f,
	"pale-orange": hsl(25, 100%, 94%),
	"white": hsl(0, 0%, 100%),
	"black": hsla(0, 0%, 0%, 0.842),
	"grey-blue": rgb(206, 206, 226),
	"grey": rgb(98, 98, 102),
    "dark-red": rgb(74, 2, 2),
	"green": #4dad5b,
);
