@use '@/scss/colors' as c;
@use '@/scss/mixins' as m;


.container-cards{
    @include m.flex(flex, auto, auto, center, auto );
    background: map-get(c.$colors , "white") url("/src/assets/images/background.png");
    margin: 0 auto;
    padding-bottom: 2em;
    width: 60%;
    min-height: 100vh;
    
        

    
    &__wrap{
        display: grid;
        justify-content: center;
        gap: 2em;
        grid-template-columns: repeat( auto-fit, 10em );
        margin-top: 2em;
        width: 80%;

        
    }
}