@use '@/scss/colors' as c;
@use '@/scss/mixins' as m;


.container-cards{
    @include m.flex(flex, auto, auto, center, auto );
    background:  map-get( c.$colors, "white" );
    margin: 0 auto;
    padding-bottom: 2em;
    width: 60%;
    
    &__wrap{
        display: grid;
        gap: 2em;
        grid-template-columns: repeat( auto-fit, minmax(10em, 1fr) );
        margin-top: 2em;
        width: 80%;
    }
}