@use '@/scss/colors' as c;
@use '@/scss/mixins' as m;

.filter{
    @include m.flex(flex, auto, auto, space-around , auto );
    background: map-get(c.$colors , "dark-blue" );
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    width: 60%;
    
    &__container-search{
        @include m.flex(flex, row, auto, auto , auto );

    }

    &__search{
        width: 45%;
        .search__input{
            background:map-get( c.$colors, "white" );
            border-radius: 5px;
            border: 4px solid map-get( c.$colors, "grey" );
            font-size: 1.5em;
            margin-top: .2em;
            padding: .2em .6em;
            width: 100%;
        }

        .search__title{
            color: map-get( c.$colors, "white" );
            font-size: 1.5em;
        }

        .search__button{
            align-self: end;
            background: map-get( c.$colors, "orange" );;
            border-radius: 5px;
            margin-left: 2em;
            padding: .8em ;
            cursor: pointer;
            
            &:hover{
                opacity: .8;
            }
        }

        .icon-search{
            color:  map-get( c.$colors, "white" );
        }
    }

    &__type{
    @include m.flex(flex, column, auto, auto , auto );

        .type__title{
            color:  map-get( c.$colors, "white" );
            font-size: 1.5em;
        }

        .type__select{
            padding: .8em;
            background:  map-get( c.$colors, "green" );
            border-radius: 5px;
            color:  map-get( c.$colors, "light-grayish" );
            margin-top: .2em
        }
    }
}